* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background: linear-gradient(13deg, #850c62, #f80759);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-wrapper {
    background-color: #fff;
    min-width: 350px;
    min-height: 650px;
    padding: 30px;
    border-radius: 5px;
}
.title {
    color: #f80759;
    text-align: center;
    margin: 80px 0 40px 0;
}
.name,
.email,
.password {
    margin: 20px;
    color: #969292;
    font-size: 16px;
}
.password{
    margin-bottom: 40px;
}
